<html>
{{template "head.html" .}}

<body>
    {{ if .Form }}{{ .Form.Render }}{{ end }}
    <script>
        const privateKey = localStorage.getItem("publicKey");
        console.log(privateKey)
        document.querySelectorAll('[name=privKey]')[0].value = privateKey;
    </script>
</body>

</html>