<html>
{{template "head.html" .}}

<body>
    {{ if .Form }}{{ .Form.Render }}{{ end }}
    <script>
        if (localStorage.getItem("privateKey") === null && localStorage.getItem("publicKey") === null) {
            localStorage.setItem("privateKey", "{{.PrivateKey}}")
            localStorage.setItem("publicKey", "{{.PublicKey}}")
        } else {
            const pubKey = localStorage.getItem("publicKey");
            document.querySelectorAll('[name=PublicKey]')[0].value = pubKey;
        }
    </script>
</body>

</html>